div.a {
    text-align: right
}
div.b {
    text-align: left
}
div.d {
    text-align: center
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(131, 130, 133);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
}

.brd {
    border: 1px solid black;
    padding: 10px;
  }
  style {
    border: 1px dashed black;
    display:block;
  }

.c {
    background-color: rgb(225, 245, 255);
    border: 1px solid black;
}

a:link {
    text-decoration:none;
}


h4{
    margin-left: 20px;
}

.bg{
    position:fixed;
    height: 100%;
    width: 100%;
    background-image: url(bleu.jpg);
    z-index: -1;
}

.CouleurLien { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:none;
    text-transform: uppercase;
    color: white;
    padding:10px 18px 0px;
    background-color: #3498DB;
    transition: background ease-in 500ms;
 }

 .CouleurLien:hover{
     background-color: #0c2461;
     color: #f2f2f2;
 }

 .btn-success:hover{
     color: green;
 }