div.a {
    text-align: right
}
div.b {
    text-align: left
}
div.c {
    text-align: center
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(131, 130, 133);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
}



.brd {
    border: 1px solid black;
  }
  style {
    border: 1px dashed black;
    display:block;
  }

.c {
    background-color: bisque;
}